@page
@model LifeLink.Pages.RegisterModel
@{
}

<br>
<h2>Register here</h2>

@if (Model.errorMessage.Length > 0)
{
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<form method="post">
	<div class="left-container-wrapper">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">First Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="fname" value="@Model.userInfo.firstName">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Last Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="lname" value="@Model.userInfo.lastName">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Email</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="email" value="@Model.userInfo.email">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Phone</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="phone" value="@Model.userInfo.phone">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Address</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="address" value="@Model.userInfo.address">
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Password</label>
		<div class="col-sm-6">
			<input type="password" class="form-control" name="password" value="@Model.userInfo.password">
		</div>
	</div>


	@if (Model.successMessage.Length > 0)
	{
		<div class="row mb-3">
			<div class="col sm-9">
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>@Model.successMessage</strong>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</div>
		</div>
	}

	<div class="row mb-3">
		<div class="offset-sm-3 col-sm-3 d-grid">
			<button type="submit" class="btn btn-primary">Register</button>
		</div>
		<div class="col-sm-3 d-grid">
			<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
		</div>
	</div>

	<div class="alert alert-secondary" role="alert">
		Have an account? <a href="/Login">Login here</a>
	</div>
	</div>
</form>